# dataset folder (except FAGI json) to prevent large uploads
data/*
!data/FAGI_since_2023.json
# default virtual environment folder
venv
# python cache
__pycache__
# vscode
.vscode
# intellij
.idea
# ibkr folder (i dont want to upload my api key lol)
ibkr/*
!ibkr/api.py
# model checkpoint folder
checkpoints